body {
    margin: 0;
    padding: 0;
}

body {
    height: 2000px;
    /* background-image: none;*/
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}